### Импортируем библиотеки

In [1]:
import pandas as pd

In [14]:
import math

In [15]:
from scipy. stats import lognorm

In [16]:
import matplotlib.pyplot as plt

In [2]:
import matplotlib

In [3]:
import pandas

In [4]:
import numpy

### Присваиваем для дальнейшей работы

In [7]:
a = pd.read_csv('2020_Yellow_Taxi_Trip_Data_20240320.csv', low_memory=False)

In [6]:
b = pd.read_csv('2021_Yellow_Taxi_Trip_Data_20240320.csv', low_memory=False)

### Кластерный анализ

будет проводить на основе атрибута "payment_type" это поможет выяснить каких методов оплаты больше чтобы оптимизировать их способы, а также нам может помочь в анализе "RatecodeID" чтобы выяснить какие тарифы востребованы и их можно увеличить а какие наоброт сократить, мы можем сразу исключить колонку "mta_tax" так как сумма налога фиксирована и нам это не поможет в оптимизации исключаем также "improvement_surcharge" у компании она фиксирована как и налог "store_and_fwd_flag" также можно исключить ведь это просто перессылка

1. VendorID ('', '', '')    
2. tpep_pickup_datetime ('', '', '')  
3. tpep_dropoff_datetime ('', '', '')
4. passenger_count ('', '', '')
5. trip_distance ('', '', '')  
6. RatecodeID ('', '', '') 
7. store_and_fwd_flag ('', '', '')  
8. PULocationID ('', '', '')  
9. DOLocationID ('', '', '')  
10. payment_type ('', '', '')
12. fare_amount ('', '', '')  
13. extra ('', '', '')  
14. mta_tax ('', '', '')  
15. tip_amount ('', '', '')  
16. tolls_amount ('', '', '')  
17. improvement_surcharge ('', '', '')  
18. total_amount ('', '', '')  
19. congestion_surcharge ('', '', '')

### Сделаем вывод таблиц где вы можете увидеть все столбцы описаные ранее

In [12]:
pd.read_csv('2020_Yellow_Taxi_Trip_Data_20240320.csv', low_memory=False)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2020 12:28:15 AM,01/01/2020 12:33:03 AM,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,01/01/2020 12:35:39 AM,01/01/2020 12:43:04 AM,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,01/01/2020 12:47:41 AM,01/01/2020 12:53:52 AM,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,01/01/2020 12:55:23 AM,01/01/2020 01:00:14 AM,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,01/01/2020 12:01:58 AM,01/01/2020 12:04:16 AM,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24648494,NaN,12/31/2020 11:44:35 PM,01/01/2021 12:01:22 AM,NaN,9.22,NaN,NaN,143,20,NaN,32.49,0.0,0.5,8.16,0.00,0.3,43.95,2.5
24648495,NaN,12/31/2020 11:41:36 PM,12/31/2020 11:50:32 PM,NaN,4.79,NaN,NaN,4,262,NaN,13.22,0.0,0.5,3.65,0.00,0.3,20.17,2.5
24648496,NaN,12/31/2020 11:01:17 PM,12/31/2020 11:40:37 PM,NaN,28.00,NaN,NaN,210,78,NaN,69.31,0.0,0.5,2.75,6.12,0.3,78.98,0.0
24648497,NaN,12/31/2020 11:31:29 PM,12/31/2020 11:44:22 PM,NaN,7.08,NaN,NaN,148,129,NaN,35.95,0.0,0.5,2.75,0.00,0.3,39.50,0.0
24648498,NaN,12/31/2020 11:12:48 PM,12/31/2020 11:24:51 PM,NaN,2.35,NaN,NaN,18,235,NaN,17.09,0.0,0.5,2.75,0.00,0.3,20.64,0.0

In [13]:
pd.read_csv('2021_Yellow_Taxi_Trip_Data_20240320.csv', low_memory=False)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2021 12:30:10 AM,01/01/2021 12:36:12 AM,1.0,2.10,1.0,N,142,43,2.0,8.00,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,01/01/2021 12:51:20 AM,01/01/2021 12:52:19 AM,1.0,0.20,1.0,N,238,151,2.0,3.00,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,01/01/2021 12:43:30 AM,01/01/2021 01:11:06 AM,1.0,14.70,1.0,N,132,165,1.0,42.00,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,01/01/2021 12:15:48 AM,01/01/2021 12:31:01 AM,0.0,10.60,1.0,N,138,132,1.0,29.00,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,01/01/2021 12:31:49 AM,01/01/2021 12:48:21 AM,1.0,4.94,1.0,N,68,33,1.0,16.50,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30904067,2.0,12/31/2021 11:18:02 PM,12/31/2021 11:32:19 PM,NaN,3.99,NaN,NaN,145,107,0.0,17.42,0.0,0.5,5.80,0.0,0.3,26.52,NaN
30904068,2.0,12/31/2021 11:46:00 PM,01/01/2022 12:07:00 AM,NaN,5.96,NaN,NaN,236,158,0.0,23.05,0.0,0.5,2.85,0.0,0.3,29.20,NaN
30904069,2.0,12/31/2021 11:46:00 PM,01/01/2022 12:04:00 AM,NaN,4.99,NaN,NaN,48,13,0.0,20.97,0.0,0.5,5.23,0.0,0.3,29.50,NaN
30904070,2.0,12/31/2021 11:53:00 PM,01/01/2022 12:02:00 AM,NaN,1.36,NaN,NaN,75,75,0.0,13.20,0.0,0.5,2.00,0.0,0.3,16.00,NaN
30904071,2.0,12/31/2021 11:19:28 PM,12/31/2021 11:26:30 PM,NaN,1.99,NaN,NaN,170,237,0.0,13.20,0.0,0.5,2.63,0.0,0.3,19.13,NaN

### Проверка нормальности